sudo: false
language: node_js
node_js:
- '6'
- '5'
- '4'
matrix:
  fast_finish: true
branches:
  only:
    - master
cache:
  directories:
  - node_modules
notifications:
  email:
    on_success: never
after_script: 'npm run coverage && cat ./coverage/lcov.info | ./node_modules/.bin/coveralls'
